In [20]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [21]:
from src.utils.clean import Clean

In [22]:
clean = Clean()

In [23]:
data = pd.read_csv('../data/raw/data.csv')

In [24]:
data = data.drop('Unnamed: 0', axis=1)

In [25]:
data.head()

,title,degrees,funds,date,location
0,Schaefer Halleen’s Social Equity Scholarship,"Master, Bachelor, Phd",$1000,30 June 2022,united-states
1,President’s Scholarship for Ukraine,"Master, Bachelor, Phd, Course",$2500,31 July 2022,united-states
2,International Students Diversity Contest 2022-...,"Master, Bachelor, Phd, Course","Up to $2,000",22 December 2022,united-states
3,Master in Business Administration 80% OFF your...,Master,80% Tuition Fees,15 September 2022,united-states
4,Improve Men’s Health Scholarship,"Master, Bachelor, Phd",$2000,31 May 2022,united-states

# Fixing names

In [26]:
data = clean.headers(data)

In [27]:
data = clean.categories(data)

In [28]:
data.head()

,title,degrees,funds,date,location
0,Schaefer Halleen’S Social Equity Scholarship,"Master, Bachelor, Phd",$1000,30 June 2022,United States
1,President’S Scholarship For Ukraine,"Master, Bachelor, Phd, Course",$2500,31 July 2022,United States
2,International Students Diversity Contest 2022 ...,"Master, Bachelor, Phd, Course","Up To $2,000",22 December 2022,United States
3,Master In Business Administration 80% Off Your...,Master,80% Tuition Fees,15 September 2022,United States
4,Improve Men’S Health Scholarship,"Master, Bachelor, Phd",$2000,31 May 2022,United States

# Degrees

In [29]:
data.degrees.unique()

array(['Master, Bachelor, Phd', 'Master, Bachelor, Phd, Course', 'Master',
       'Course', 'Master, Course', 'Bachelor', 'Master, Bachelor, Course',
       'Phd', 'Bachelor, Master', 'Phd, Master', 'Master, Bachelor',
       'Course, Master', 'Master, Phd', 'Bachelor, Master, Phd, Course',
       'Bachelor, Master, Phd', 'Fully Funded', 'Not Funded', nan,
       'Phd, Master, Bachelor, Course', 'Phd, Master, Bachelor',
       'Bachelor, Course', 'Bachelor, Phd, Master'], dtype=object)

In [30]:
data.degrees.isna().sum()

49

In [31]:
data.degrees.replace('Master, Bachelor, Phd', 'Upto Phd', inplace=True)
data.degrees.replace('Bachelor, Phd, Master', 'Upto Phd', inplace=True)
data.degrees.replace('Bachelor, Master, Phd', 'Upto Phd', inplace=True)
data.degrees.replace('Phd, Master, Bachelor', 'Upto Phd', inplace=True)

In [33]:
data.degrees.fillna('Not Specified', inplace=True)

In [34]:
course = []
for idx, value in enumerate(data.degrees):
    if 'course' in value.lower():
        course.append(1)
    else:
        course.append(0)

data['course'] = course

In [38]:
data.replace('Not Funded', 'Not Specified', inplace=True)
data.replace('Fully Funded', 'Not Specified', inplace=True)

In [39]:
data.head()

,title,degrees,funds,date,location,course
0,Schaefer Halleen’S Social Equity Scholarship,Upto Phd,$1000,30 June 2022,United States,0
1,President’S Scholarship For Ukraine,"Master, Bachelor, Phd, Course",$2500,31 July 2022,United States,1
2,International Students Diversity Contest 2022 ...,"Master, Bachelor, Phd, Course","Up To $2,000",22 December 2022,United States,1
3,Master In Business Administration 80% Off Your...,Master,80% Tuition Fees,15 September 2022,United States,0
4,Improve Men’S Health Scholarship,Upto Phd,$2000,31 May 2022,United States,0

In [40]:
data.degrees.unique()

array(['Upto Phd', 'Master, Bachelor, Phd, Course', 'Master', 'Course',
       'Master, Course', 'Bachelor', 'Master, Bachelor, Course', 'Phd',
       'Bachelor, Master', 'Phd, Master', 'Master, Bachelor',
       'Course, Master', 'Master, Phd', 'Bachelor, Master, Phd, Course',
       'Not Specified', 'Phd, Master, Bachelor, Course',
       'Bachelor, Course'], dtype=object)

In [41]:
data.degrees.replace('Master, Bachelor, Phd, Course', 'Upto Phd', inplace=True)
data.degrees.replace('Bachelor, Master, Phd, Course', 'Upto Phd', inplace=True)
data.degrees.replace('Bachelor, Master, Phd, Course', 'Upto Master', inplace=True)

# Conclusion
- This approach became too much hassle
- Going for different approach